.z {
	z-index: 0;

	&1 { position: relative; z-index: 1; }
	&2 { position: relative; z-index: 2; }
	&3 { position: relative; z-index: 3; }
	&4 { position: relative; z-index: 4; }
	&5 { position: relative; z-index: 5; }
	&6 { position: relative; z-index: 6; }
	&7 { position: relative; z-index: 7; }
	&8 { position: relative; z-index: 8; }
	&9 { position: relative; z-index: 9; }
	&10 { position: relative; z-index: 10; }
}

.p {
	position: relative;

	&r { position: relative; }
	&a { position: absolute; }
	&f { position: fixed; }
}

.o {
	overflow: hidden;

	&a { overflow: auto; }
	&v { overflow: visible; }
	&h { overflow: hidden; }
}

// Display
.d {
	&s { display: inline-block; }

	&ib { display: inline-block; }

	&b {
		display: block;
		// Allows the anchor to behave like yeast, expanding to the full size of its' container. By default an inline-element cannot do this, and an anchor tag wrapped around other content can limit the display of those children elements if they rely on percentages of the main container.
		display: block;
		width: 100%;
		height: auto;

		&--expand {
			@extend .db;
			@extend .oa;

			position: relative;
			height: auto;
		}
	}

	&f {
		display: flex;
		flex: auto 0 0;

		&g {
			@extend .df;
			flex: auto 1 1;
		}

		&r {
			@extend .dfr;
			flex-flow: row wrap;
			&s {
				@extend .dfr;
				justify-content: start;
				align-content: start;
				align-items: start;
				&s {
					@extend .dfrss;
					align-items: start;
				}
				&c {
					@extend .dfrsc;
					align-items: center;
				}
				&e {
					@extend .dfrse;
					align-items: end;
				}
			}

			&c {
				@extend .dfr;
				justify-content: center;
				align-content: start;
				align-items: start;
				&s {
					@extend .dfrcs;
					align-items: start;
				}
				&c {
					@extend .dfrcc;
					align-items: center;
				}
				&e {
					@extend .dfrce;
					align-items: end;
				}
			}

			&e {
				@extend .dfr;
				justify-content: end;
				align-content: start;
				align-items: start;
				&s {
					@extend .dfres;
					align-items: start;
				}
				&c {
					@extend .dfrec;
					align-items: center;
				}
				&e {
					@extend .dfree;
					align-items: end;
				}
			}
		}

		&c {
			@extend .df;
			flex-flow: column wrap;
			&s {
				@extend .dfc;
				justify-content: start;
				align-content: start;
				align-items: start;
				&s {
					@extend .dfcss;
					align-items: start;
				}
				&c {
					@extend .dfcsc;
					align-items: center;
				}
				&e {
					@extend .dfcse;
					align-items: end;
				}
			}

			&c {
				@extend .dfc;
				justify-content: center;
				align-content: start;
				align-items: start;
				&s {
					@extend .dfccs;
					align-items: start;
				}
				&c {
					@extend .dfccc;
					align-items: center;
				}
				&e {
					@extend .dfcce;
					align-items: end;
				}
			}

			&e {
				@extend .dfc;
				justify-content: end;
				align-content: start;
				align-items: start;
				&s {
					@extend .dfces;
					align-items: start;
				}
				&c {
					@extend .dfcec;
					align-items: center;
				}
				&e {
					@extend .dfcee;
					align-items: end;
				}
			}
		}
	}
}

// Box
.bx {

	&-sh { box-shadow: 1em 1em 1em black; }

	&-sz {
		box-sizing: content-box;

		&c { box-sizing: content-box; }
		&b { box-sizing: border-box; }
	}
}

.f {

	&f {
		&--serif { font-family: serif;      }
		&--sans  { font-family: sans-serif; }
		&--mono  { font-family: monospace;  }
	}

	&s {
		font-size: 1em;

		&-3 { font-size: 0.25em; @extend .lh&; }
		&-2 { font-size: 0.5em;  @extend .lh&; }
		&-1 { font-size: 0.75em; @extend .lh&; }
		&1  { font-size: 1.25em; @extend .lh&; }
		&2  { font-size: 1.5em;  @extend .lh&; }
		&3  { font-size: 1.75em; @extend .lh&; }
		&4  { font-size: 2em;    @extend .lh&; }
		&5  { font-size: 2.25em; @extend .lh&; }
		&6  { font-size: 2.5em;  @extend .lh&; }
		&7  { font-size: 2.75em; @extend .lh&; }
		&8  { font-size: 3em;    @extend .lh&; }
		&9  { font-size: 3.25em; @extend .lh&; }
		&10 { font-size: 3.5em;  @extend .lh&; }
	}

	&w {
		&b { font-weight: bold;   }
		&m { font-weight: normal; }
		&t { font-weight: thin;   }
	}
}

.lh {
	line-height: 1em;

	&-3 { line-height: 0.25em; }
	&-2 { line-height: 0.5em;  }
	&-1 { line-height: 0.75em; }
	&1  { line-height: 1.25em; }
	&2  { line-height: 1.5em;  }
	&3  { line-height: 1.75em; }
	&4  { line-height: 2em;    }
	&5  { line-height: 2.25em; }
	&6  { line-height: 2.5em;  }
	&7  { line-height: 2.75em; }
	&8  { line-height: 3em;    }
	&9  { line-height: 3.25em; }
	&10 { line-height: 3.5em;  }		
}

.cl {
	color: inherit;

	&! { color: inherit !important; }
}

// Padding
.pa {}

// Margin
.ma {}