// PRIMARY
$colorOne: #000000;
$colorTwo: #000000;
$colorThree: #000000;

// SHADES
$accentShade: rgba(0, 0, 0, 0.25);
$accentBlack: #222;

$accentBlackish: #444;
$accentDarker: #444;

$accentDark: #666;

$accentGrayer: #888;
$accentGreyer: $accentGrayer;

$accentGray: #AAA;
$accentGrey: $accentGray;

$accentThick: #CCC;
$accentGrayish: $accentThick;
$accentGreyish: $accentThick;

$accentLight: #EEE;
$accentWhitish: $accentLight;

$accentWhite: #FFF;
