// VERTICAL RHYTHM SETTINGS
$vRythm: 16px;
$vRythmHalf: $vRythm / 2;
$vRythmThird: $vRythm / 3;
$vRythmQuarter: $vRythm / 4;
$vRythmHalfUp: $vRythm * 1.5;
$vRythmDouble: $vRythm * 2;
$fontSize: 16px;
$margin: $vRythm 0px;

// FONT FACES
// @font-face {
//   font-family: serif;
//   src: url("font/font-file.ext");
//   font-weight: bold;
// }
